<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self' http://http://13.125.249.19:3303/nodemailerTest/joincpl">

	<title>BlockLego</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="/images//favicon.ico" />

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="/images//apple-touch-icon-114x114-precomposed.png">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="/images//apple-touch-icon-72x72-precomposed.png">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="/images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cQuestrial%7cOpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7cPT+Sans:400,400i,700,700i" rel="stylesheet">

	<!-- Library -->
    <link href="/css/lib.css" rel="stylesheet">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>


<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<!-- Sidebar Menu -->
	<div class="sidebar-menu">
		<!-- Logo Block -->
		<div class="logo-block">
			<a href="/index.html"><img src="/images/logo.png" alt="Logo" /></a>
			<p>2019 DGU Capstone Design
			Personal identity verification</p>
		</div><!-- Logo Block /- -->
		<!-- Header Section -->
		<div class="header_s">
			<nav class="navbar ownavigation navbar-expand-lg">
				<a class="image-logo navbar-brand" href="/index.html"><img src="/images/logo.png" alt="Logo" /></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav">
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Home" href="index.html">Home</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="index.html" title="Home">Home</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="About" href="#">About</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="about.html" title="About Us">About Project</a></li>
								<li><a class="dropdown-item" href="about2.html" title="About Us">About Team</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Work" href="#">Join</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="single-project.html" title="Single Project">Join Us!</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Services" href="#">Services</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="services.html" title="Services1">Services 1</a></li>
								<li><a class="dropdown-item" href="services-2.html" title="Services2">Services 2</a></li>
							</ul>
						</li>
						<li><a class="nav-link" title="Contact" href="contact-us.html">Contact</a></li>
					</ul>
				</div>
			</nav>
		</div><!-- Header Section /- -->
		<div class="filter-menu"></div>
		<div class="footer-detail"></div>
	</div><!-- Sidebar Menu /- -->

	<div class="main-container">

		<main class="site-main">

			<!-- Page Content -->
			<div class="page-content">

				<!-- Page Banner -->
				<div class="container-fluid no-left-padding no-right-padding page-banner">
					<!-- Container -->
					<div class="container">
						<h3>Start BlockLego</h3>
						<nav class="breadcrumb">
							<a class="breadcrumb-item" href="index.html">Home</a>
							<a class="breadcrumb-item" href="#">Join</a>
							<span class="breadcrumb-item active">Join Us!</span>
						</nav>
					</div><!-- Container -->
				</div><!-- Page Banner /- -->

				<!-- Signle Project -->
				<div class="container-fluid no-left-padding no-right-padding single-project">
					<div class="single-content">
						<div class="row">
							<h3>Dongguk University Webmail</h3>
						</div>
						<form method="post" action="/nodemailerTest">

						  <div class="form-row">
						    <div class="form-group col-md-6">
						      <label for="inputEmail">DGU Webmail</label>
						      <input type="text" class="form-control" name="userEmail" placeholder="동국대학교 웹메일 아이디를 입력해주세요">
						    </div>
						  </div>
							<div class="form-row">
									<button type="submit" class="btn btn-secondary">Send Email</button>
							</div>

						</form>
					</div>
				</div><!-- Signle Project /- -->

			</div><!-- Page Content /- -->

		</main>

	</div>

	<!-- Footer Section -->
	<div class="container-fluid footer-main">
		<h3>Social Network</h3>
		<ul>
			<li><a href="http://www.dongguk.edu" target="_blank" title=""><i class="fa fa-university"></i></a></li>
			<li><a href="https://github.com/PMinJoo/BlockLego" target="_blank" title=""><i class="fa fa-github"></i></a></li>
			<li><a href="http://ssms.dongguk.edu/" target="_blank" title=""><i class="fa fa-commenting-o"></i></a></li>
			<li><a href="http://naver.me/FRVSoCJP" target="_blank" title=""><i class="fa fa-map-marker"></i></a></li>
		</ul>
		<p>&copy; 2019 BlockLego, Dongguk University</p>
	</div><!-- Footer Section /- -->

	<!-- JQuery v1.12.4 -->
	<script src="/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="/js/popper.min.js"></script>
	<script src="/js/lib.js"></script>

	<!-- Library - Theme JS -->
	<script src="/js/functions.js"></script>

</body>
</html>
