<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>BlockLego</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cQuestrial%7cOpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7cPT+Sans:400,400i,700,700i" rel="stylesheet">

	<!-- Fas Fa Icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<!-- Sidebar Menu -->
	<div class="sidebar-menu">
		<!-- Logo Block -->
		<div class="logo-block">
			<a href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
			<p>2019 DGU Capstone Design
			Personal identity verification</p>
		</div><!-- Logo Block /- -->
		<!-- Header Section -->
		<div class="header_s">
			<nav class="navbar ownavigation navbar-expand-lg">
				<a class="image-logo navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav">
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Home" href="index.html">Home</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="index.html" title="Home">Home</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="About" href="#">About</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="about.html" title="About Us">About Project</a></li>
								<li><a class="dropdown-item" href="about2.html" title="About Us">About Team</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Work" href="#">Join</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="single-project.html" title="Single Project">Join Us!</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<i class="ddl-switch fa fa-angle-down"></i>
							<a class="nav-link dropdown-toggle" title="Services" href="#">Services</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="services.html" title="Services1">Services 1</a></li>
								<li><a class="dropdown-item" href="services-2.html" title="Services2">Services 2</a></li>
							</ul>
						</li>
						<li><a class="nav-link" title="Contact" href="contact-us.html">Contact</a></li>
					</ul>
				</div>
			</nav>
		</div><!-- Header Section /- -->
		<div class="filter-menu"></div>
		<div class="footer-detail"></div>
	</div><!-- Sidebar Menu /- -->

	<div class="main-container">

		<div class="page-content">

			<!-- Page Banner -->
			<div class="container-fluid no-left-padding no-right-padding page-banner">
				<!-- Container -->
				<div class="container">
					<h3>Services</h3>
					<nav class="breadcrumb">
						<a class="breadcrumb-item" href="index.html">Home</a>
						<span class="breadcrumb-item active">Services 2</span>
					</nav>
				</div><!-- Container -->
			</div><!-- Page Banner /- -->

			<main class="site-main">

				<!-- Services Section 3 -->
				<div class="container-fluid services-section-3">
					<!-- Page Title -->
					<div class="page-title">
						<h3>4th Industrial <b>Revolution</b></h3>
						<span>Blockchain</span>
					</div><!-- Page Title -->
					<div class="row">
						<div class="col-md-4 col-sm-6 col-6">
							<div class="srv-box">
								<i><img src="assets/images/srv-bx1.jpg" alt="srv"></i>
								<h3>Bitcoin</h3>
								<p>Bitcoin is an on-line cipher made based on block-chain technology.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-6">
							<div class="srv-box">
								<i><img src="assets/images/srv-bx2.jpg" alt="srv"></i>
								<h3>Ethereum</h3>
								<p>Ethereum is a distributed computing platform for implementing smart contract functionality based on block-chain technology.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-6">
							<div class="srv-box">
								<i><img src="assets/images/srv-bx3.jpg" alt="srv"></i>
								<h3>Airbloc</h3>
								<p>The airbloc protocol is a user-centered personal data transaction protocol.</p>
							</div>
						</div>
					</div>
				</div><!-- Services Section 3 /- -->

				<!-- Service section 4 -->
				<div class="container-fluid services-section-4">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="branding-tab" data-toggle="tab" href="#branding" role="tab" aria-controls="branding" aria-expanded="true">Finance</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="redesign-tab" data-toggle="tab" href="#redesign" role="tab" aria-controls="redesign">Medical treatment</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="hosting-tab" data-toggle="tab" href="#hosting" role="tab" aria-controls="hosting">Logistics & Distribution</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="branding" role="tabpanel" aria-labelledby="branding-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-4">
										<img src="assets/images/servixce.jpg" alt="servixce">
									</div>
									<div class="col-sm-8">
										<h3>Bank Crisis</h3>
										<p>Block Chain predicts dramatic changes in the financial industry, "Most banks It will be gone in ten years."_Professor David W. New York University</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="redesign" role="tabpanel" aria-labelledby="redesign-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-4">
										<img src="assets/images/servixce.jpg" alt="servixce">
									</div>
									<div class="col-sm-8">
										<h3>Medical record protection</h3>
										<p>Block Chain makes your medical information more secure and convenient, It will lead to creation of new healthcare business centered on medical information. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-4">
										<img src="assets/images/servixce.jpg" alt="servixce">
									</div>
									<div class="col-sm-8">
										<h3>Real-time logistics tracking</h3>
										<p>Real-time traceability through block chains with diverse interests, We will realize distribution advancement such as securing, optimizing inventory management, checking authenticity. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Service section 4 / -->

				<!-- Service section 5 -->
				<div class="container-fluid services-section-5">
					<ul class="nav nav-tabs" id="myTab2" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="development-tab" data-toggle="tab" href="#development" role="tab" aria-controls="development" aria-expanded="true"><i class="fa fa-heart" aria-hidden="true"></i>Advantages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="updates-tab" data-toggle="tab" href="#updates" role="tab" aria-controls="updates"><i class="fas fa-heart-broken" aria-hidden="true"></i>Disadvantages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support"><i class="fas fa-industry" aria-hidden="true"></i>4th-I.R. Technology</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent2">
						<div class="tab-pane fade show active" id="development" role="tabpanel" aria-labelledby="development-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-6">
										<img src="assets/images/srv-img1.jpg" alt="srv-img">
									</div>
									<div class="col-sm-6">
										<h4>Blockchain Advantages</h4>
										<p>A block chain has the following advantages:</p>
										<ul>
											<li><i class="fa fa-check" aria-hidden="true"></i> Anonymity</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> P2P</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Scalability</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Safety</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-6">
										<img src="assets/images/srv-img1.jpg" alt="srv-img">
									</div>
									<div class="col-sm-6">
										<h4>Blockchain Disadvantages</h4>
										<p>A block chain has the following disadvantages:</p>
										<ul>
											<li><i class="fa fa-check" aria-hidden="true"></i> Evasion</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Avoidance of responsibility</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Incomplete</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Few transactions</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
							<div class="srv-content">
								<div class="row">
									<div class="col-sm-6">
										<img src="assets/images/srv-img1.jpg" alt="srv-img">
									</div>
									<div class="col-sm-6">
										<h4>4th-I.R. Technology</h4>
										<p>Technologies that will lead the fourth industrial revolution:</p>
										<ul>
											<li><i class="fa fa-check" aria-hidden="true"></i> AI</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> Big Data</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> 3D Printing</li>
											<li><i class="fa fa-check" aria-hidden="true"></i> IoT</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Service section 3/- -->

			</main>

		</div>

	</div>

	<!-- Footer Section -->
	<div class="container-fluid footer-main">
		<h3>Social Network</h3>
		<ul>
			<li><a href="http://www.dongguk.edu" target="_blank" title=""><i class="fa fa-university"></i></a></li>
			<li><a href="https://github.com/PMinJoo/BlockLego" target="_blank" title=""><i class="fa fa-github"></i></a></li>
			<li><a href="http://ssms.dongguk.edu/" target="_blank" title=""><i class="fa fa-commenting-o"></i></a></li>
			<li><a href="http://naver.me/FRVSoCJP" target="_blank" title=""><i class="fa fa-map-marker"></i></a></li>
		</ul>
		<p>&copy; 2019 BlockLego, Dongguk University</p>
	</div><!-- Footer Section /- -->

	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/lib.js"></script>

	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>

</body>
</html>
