<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>NANUMLEGO</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="images//favicon.ico" />

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images//apple-touch-icon-114x114-precomposed.png">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images//apple-touch-icon-72x72-precomposed.png">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">

	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div><!-- Loader /- -->

	<!-- Top Header  -->
	<div class="top-header container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="header-top-info">
			</div>
			<ul class="contact">
				<li><a href="#" title="phone number"><i class="fa fa-phone" aria-hidden="true"></i>Phone: 010-1234-5678</a></li>
			</ul>
			<div class="social-icons pull-right">
				<ul>
					<li><a title="DGU" href="http://www.dongguk.edu"><i class="fa fa-university" aria-hidden="true"></i></a></li>
					<li><a title="Github" href="https://github.com/PMinJoo/BlockLego"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					<li><a title="SSMS" href="http://ssms.dongguk.edu/"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
					<li><a title="Map" href="http://naver.me/FRVSoCJP"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div><!-- Container /- -->
	</div><!-- Top Header /- -->


	<!-- Header -->
	<header class="header-main header-position container-fluid no-padding">
		<!-- Menu Block -->
		<div class="menu-block container-fluid no-padding">
			<div class="container">
				<!-- Navigation -->
				<nav class="navbar ow-navigation">
					<div class="navbar-header">
						<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index-2.ejs" title="Logo"><h3>NANUM <img src="images/logo.png" alt="logo"/> LEGO</h3></a>
					</div>
					<div class="menu-bar">
						<a href="#" title="Close" id="menu-popup"><i class="fa fa-bars"></i></a>
					</div>
					<div class="navbar-collapse collapse navbar-right" id="navbar">
						<ul class="nav navbar-nav menubar">
							<li class="dropdown active">
								<a href="index-2.ejs" title="Portfolio" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							</li>
							<li><a href="services.ejs" title="Services">Services</a></li>
							<li><a href="mypage.ejs" title="My Page">My Page</a></li>
							<li><a href="index.ejs#menu-section" title="Sign Out">Sign Out</a></li>
						</ul>
					</div>
				</nav><!-- Navigation /- -->
			</div><!-- Menu Block /- -->
		</div>
	</header><!-- Header /- -->

	<main class="site-main page-spacing">
		<!-- Page Banner -->
		<div class="page-banner container-fluid no-padding">
			<div class="page-banner-content">
				<h3>nanumlego</h3>
			</div>
		</div><!-- Page Banner /- -->
		<!-- Welcome Section 1 -->
		<div class="welcome-section-1 container-fluid no-padding">
			<div class="section-padding"></div>
			<div class="container">
				<div class="section-header">
					<h3>Welcome To NanumLego</h3>
					<h5>Our Story</h5>
					<img src="images/section-seprator.png" alt="section-seprator" width="169" height="15">
					<p>
The NanumLego is a system that allows students to donate goods or open food events to distribute to students and receive food without waiting.</p>
				</div><!-- Section Header /-  -->
				<div class="col-md-7 col-sm-7 col-xs-6 wc-img-box">
					<img src="images/welcome-1.png" alt="welcome" width="754" height="502" />
				</div>

				<div class="col-md-5 col-sm-5 col-xs-6">
					<div class="mission-content">
						<img src="images/welcome-ic-1.png" alt="welcome-ic" width="71" height="71">
						<h3>Shared value</h3>
						<p>A system to donate goods between seniors and juniors.</p>
					</div>

					<div class="mission-content">
						<img src="images/welcome-ic-2.png" alt="welcome-ic" width="71" height="71">
						<h3>Scalability</h3>
						<p>
We can extend our business not only the Dongguk University but also to other universities.</p>
					</div>

					<div class="mission-content">
						<img src="images/welcome-ic-3.png" alt="welcome-ic" width="71" height="71">
						<h3>Volunteer</h3>
						<p>By sharing, you can carry out the process of being a good student.</p>
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Welcome Section 1 /- -->

	</main>


	<!-- Bottom Footer 1 -->
	<div class="bottom-footer-1 container-fluid no-padding">
		<div class="container">
			<div class="footer-copyright">
				<p>copyrights &copy; 2019 NANUMLEGO. all rights reserved</p>
			</div>
		</div>
	</div><!-- Bottom Footer /- -->

	<!-- JQuery v1.11.3 -->
	<script src="js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="libraries/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->

	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>

	<!-- Library - Theme JS -->
	<script src="js/functions.js"></script>
</body>
</html>
