/*
	[Table of contents]

*/

/* + Header */
html[dir="rtl"] .sidebar-menu .logo-block {
	text-align: left;
}
html[dir="rtl"] .header_s .ownavigation {
	text-align: left;
}
html[dir="rtl"] .header_s .ownavigation .navbar-nav {
	padding-right: 0;
}
html[dir="rtl"] .header_s .ownavigation .navbar-nav > li > a {
	padding-left: 40px;
	padding-right: 22px;
}
html[dir="rtl"] .sidebar-menu .portfolio-category {
	text-align: left;
	padding-left: 40px;
	padding-right: 0;
}
html[dir="rtl"] .sidebar-menu .portfolio-category h3 > i {
	margin-left: 0;
	margin-right: 12px;
}
html[dir="rtl"] .header_s .ownavigation .navbar-brand {
	margin-left: 40px;
	margin-right: 0;
}

/* - Our Work */
html[dir="rtl"] .work-hover-1 .work-content {
	left: 15px;
	right: 50px;
}
html[dir="rtl"] .work-hover-1 .work-content > ul > li {
	float: right;
}
html[dir="rtl"] .work-hover-2 .work-content ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-3 ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-4 .work-content {
	left: 50px;
	right: 15px;
	text-align: left;
}
html[dir="rtl"] .work-hover-4 .work-content > ul > li {
	margin-right: 0;
	margin-left: -3px;
}
html[dir="rtl"] .work-hover-5 > ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-5 > ul > li {
	margin-right: 0;
	margin-left: -3px;
}
html[dir="rtl"] .work-hover-6 > ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-6 > ul > li {
	margin-right: 0;
	margin-left: -3px;
}
html[dir="rtl"] .work-hover-7 ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-8 > ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-8 > ul > li {
	margin-right: 0;
	margin-left: -3px;
}
html[dir="rtl"] .work-hover-10 > ul {
	left: 15px;
	right: auto;
}
html[dir="rtl"] .work-hover-10 > ul > li {
	margin-right: 0;
	margin-left: -3px;
}

/* - Skill Section */ 
html[dir="rtl"] .skill-progress-box h3 span {
	left: 0;
	margin-left: 0;
	right: auto;
}

/* - Why Choose Us */
html[dir="rtl"] .why-choose-us .why-choose-box {
	padding-left: 0;
	padding-right: 105px;
}
html[dir="rtl"] .why-choose-us .why-choose-box > i {
	left: auto;
	right: 0;
}

/* - Offer Section */
html[dir="rtl"] .offer-section .offer-box h3 {
	padding-left: 85px;
	padding-right: 25px;
}
html[dir="rtl"] .offer-section .offer-box i {
	left: 10px;
	right: auto;
}

/* - Blog */
html[dir="rtl"] .blog-box .blog-content .post-meta > span {
	margin-left: 13px;
	margin-right: 0;
}
html[dir="rtl"] .blog-box .blog-content .post-meta > span > i {
	margin-left: 7px;
	margin-right: 0;
}

/* - Blog Section */
html[dir="rtl"] .blog-section .blog-box .blog-content::before { 
	left: 0;
	right: auto;
}

/* - Single Post */
html[dir="rtl"] .comment-body {
	padding-left: 0;
	padding-right: 100px;
}
html[dir="rtl"] .comment-author .avatar {
	right: 0;
	left: auto;
}
html[dir="rtl"] .comment-list .children {
    margin-left: 0;
    margin-right: 35px;
    padding-left: 0;
    padding-right: 35px;
}
html[dir="rtl"] .comment-list .children .comment::before {
	border-left: none;
	border-right: 1px solid #dddddd;
	left: auto;
	right: -50px;
}
html[dir="rtl"] .comment-list .children > li {
	padding-left: 0;
	padding-right: 0.5em;
}
html[dir="rtl"] .comments-area .comment-form-author, 
html[dir="rtl"] .comments-area .comment-form-email, 
html[dir="rtl"] .comments-area .comment-form-url {
	padding-left: 0;
	padding-right: 59px;
}
html[dir="rtl"] .comments-area .comment-form-author::after,
html[dir="rtl"] .comments-area .comment-form-email::after,
html[dir="rtl"] .comments-area .comment-form-url::after {
	border-left: 1px solid #ddd;
	border-right: none;
	right: 0;
	left: auto;
}
html[dir="rtl"] .comments-area .comment-form-author::before,
html[dir="rtl"] .comments-area .comment-form-email::before,
html[dir="rtl"] .comments-area .comment-form-url::before {
	left: auto;
	right: 13px;
}

/* - Our Team */
html[dir="rtl"] .our-team .team-box .team-content > ul > li {
	margin-left: 8px;
	margin-right: 0;
}

html[dir="rtl"] .about-box {
	padding-left: 0;
	padding-right: 125px;
}
html[dir="rtl"] .about-content i {
	left: auto;
	right: 0;
}
html[dir="rtl"] .single-project .single-content .single-gallery a {
	float: right;
}
html[dir="rtl"] .full-blog .navigation.pagination {
	margin-left: 0;
	margin-right: -30px;
}
html[dir="rtl"] .services-section-5 .srv-content ul li i {
	margin-left: 25px;
	margin-right: 0;
}

/* - Contact */
html[dir="rtl"] .contact-info-box p {
	padding-left: 0;
	padding-right: 87px;
}
html[dir="rtl"] .contact-info-box p i {
	left: auto;
	right: 0;
}
html[dir="rtl"] .contact-info-box p span {
	margin-left: 10px;
	margin-right: 0;
}
/*------------------------------------------------------------------
	- Responsive
-------------------------------------------------------------------*/
/* - min-width: 1366 */
@media (min-width: 1366px) {
	html[dir="rtl"] .full-blog .navigation.pagination {
		margin-left: 0;
		margin-right: -40px;
	}
}
/* - min-width: 1200 */
@media (min-width: 1200px) {
	/* + Header */
	html[dir="rtl"] .main-container {
		padding-left: 0;
		padding-right: 370px;
	}
	html[dir="rtl"] .services-section-1 {
		direction: ltr;
	}	
}

/* - min-width: 992 */
@media (min-width: 992px) {	
	/* - Sidebar */
	html[dir="rtl"] .sidebar-menu {
		left: auto;
		right: 0;
	}
	html[dir="rtl"] .sidebar-menu .footer-main {
		text-align: left;
	}
	html[dir="rtl"] .sidebar-menu .footer-main > h3, 
	html[dir="rtl"] .sidebar-menu .footer-main > ul, 
	html[dir="rtl"] .sidebar-menu .footer-main > p {
		padding-left: 40px;
		padding-right: 0;
	}
	
	html[dir="rtl"] .ownavigation ul > li > .dropdown-menu {
		right: 100%; 
		text-align: right;
	}
	html[dir="rtl"] .ownavigation ul > li > .dropdown-menu,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul {
		left: auto;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul {
		right: 100%;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		left: 100%;
	}
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul,
	html[dir="rtl"] .ownavigation ul > li .dropdown-menu ul ul ul ul ul ul ul ul ul ul {
		right: auto;
	}
}

/* - min-width: 768 */
@media (min-width: 768px) {

}
/* - min-width: 576 */
@media (min-width: 576px) { 
	html[dir="rtl"] .blog-section .blog-box .blog-cover {
		float: right;
	}
}

/* - max-width: 1199 */
@media (max-width: 1199px) {
	/* - Offer Section */
	html[dir="rtl"] .offer-section .offer-box h3 {
		padding-right: 15px;
		padding-left: 75px;
	}
	
	html[dir="rtl"] .services-section-1 .srv-box {
		padding-left: 0;
		padding-right: 82px;
	}
	html[dir="rtl"] .services-section-1 .srv-box > i {
		left: auto;
		right: 0;
	}
}

/* - min to max: 992 to 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {	
	html[dir="rtl"] .main-container {
		padding-left: 0;
		padding-right: 30%;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	/* + Header Default	*/
	html[dir="rtl"] .header_s .ownavigation {
		text-align: right;
	}
	html[dir="rtl"] .ownavigation .ddl-switch {
		right: auto;
		left: 0;
	}
	html[dir="rtl"] .header_s .ownavigation .navbar-nav > li > a {
		padding-right: 0;
	}
	html[dir="rtl"] .ownavigation .dropdown-menu {
		float: right;
		padding-left: 0;
		padding-right: 10px;
		text-align: right;
	}
	html[dir="rtl"] .header_s .ownavigation .navbar-brand {
		margin-left: 0;
	}
}

/* - min to max: 768 to 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* - max-width: 767 */
@media (max-width: 767px) {
	/* - Single Post */
	html[dir="rtl"] .comment-list .children {
		margin-right: 15px;
		padding-right: 15px;
	}
}

/* - max-width: 575 */
@media (max-width: 575px) {
	/* - Blog Section */
	html[dir="rtl"] .blog-section .blog-box .blog-content::before { 
		right: 0;
	}
}

/* - max-width: 479 */
@media (max-width: 479px) {
	/* - Single Post */
	html[dir="rtl"] .comment-list .children {
		margin-right: 0;
		padding-right: 0;
	}
}
/* - max-width: 360 */
@media (max-width: 360px) {
	html[dir="rtl"] .contact-info-box p {
		padding-left: 0;
		padding-right: 75px;
	}
}